body {
	background-color: #232323;
}

.square {
	width: 30%;
	background-color: purple;
	margin: 1.66%;
	float: left;
	padding-bottom: 30%;
}

#container {
	margin: 0 auto;
	max-width: 600px;
}

h1 {
	color: white;
}

span {
	color: white;
}